section {
	width: 90%;
	margin: 50px auto;
}

article {
	text-align: justify;
	line-height: 27px;
	padding: 0 20px 20px;
	margin-bottom: 20px;
}

.page2 {
	margin-top: 20px;
}

article h2 {
	text-align: center;
	line-height: 35px;
}

article header {
	font-size: 24px;
	margin-bottom: 0;
	margin-top: 20px;
}

ol {
	padding-top: 20px;
	width: 96%;
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: decimal;
	margin: 3px;
	padding-bottom: 10px;
}

img {
	float: left;
	margin: 2px 10px 0 0;
}

.foto2 {
	float: right;
	margin: 0 0 0 10px;
}

article a {
	text-decoration: none;
	float: right;
	font-size: 25px;
	background: #333;
	border-radius: 15%;
	display: block;
	padding: 5px 10px;
	color: #fff;
	display: inline-block;
}

article a:hover {
	text-decoration: underline;
	background: #fff;
	color: black;
}

.rigth {
	float: left;
	margin-bottom: 40px;
}

.page3 {
	font-size: 25px;
	text-align: justify;
}

.page3 h2 {
	text-align: center;
	display: inline-block;
	font-size: 36px;
	width: 100%;
}

.page3 p {
	padding: 20px;
}

.slider-block {
	display: flex;
	width: 100%;
	position: relative;
}

.slider-block .slide-container {
	border-left: 1px solid #000;
	width: 10%;
	box-sizing: border-box;
}

.slider-block .slide-container:first-child {
	border-radius: 15px 0 0 0;
}

.slider-block .slide-container:first-child label {
	border-radius: 15px 0 0 0;
}

.slider-block .slide-container:last-child {
	border-radius: 0 15px 0 0;
}

.slider-block .slide-container:last-child label {
	border-radius: 0 15px 0 0;
}

.slider-block input {
	display: none;
}

.slider-block label {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 40px;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-family: Arial;
	transition: all 0.5s ease;
}

.slider-block label:hover {
	background-color: #555;
}

.slider-block .slide-content {
	display: none;
	width: 100%;
	/* height: 150px; */
	padding: 20px;
	margin-bottom: 100px;
	font-size: 24px;
	text-indent: 20px;
	border-radius: 0 0 20px 20px;
	border: 1px solid #000;
	position: absolute;
	left: 0;
	animation: fade 2s ease;
	box-sizing: border-box;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

.slider-block input:checked~.slide-content {
	display: block;
	opacity: 1;
}

.slider-block input:checked~label {
	background-color: #222;
}

@media screen and (max-width:800px) {
	section {
		float: none;
		width: 100%;
		margin-top: 70px;
	}
	article>header img {
		width: 100%;
	}
	aside {
		float: none;
		margin-top: 70px;
	}
}

@media screen and (max-width:420px) {
	ul {
		float: none;
	}
	li a {
		padding: 10px 35px;
	}
	.slide-content {
		text-align: left;
		letter-spacing: 2px;
	}
}